.ChatApp {
  /* width: 100vw;
  height: 100vh; */
  /* background: #fff; */
  color: #212121;
  font-family: "Open Sans", sans-serif;
  /* display: grid;*/
  /* place-items: center;  */
}
/* body {
  margin: 0%;
  padding: 0%;
} */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.joinChatContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:10px;

}

.joinChatContainer h3 {
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 1rem;
}
.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #70e7e1;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  
  min-width: 201px;
  min-height: 55px;
  margin: 15px 35px;
  font-size: 19px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  border-radius: 50px;
  border: none;
  color: #FFF;
  cursor: pointer;
  transition: all 300ms;
  background: linear-gradient(45deg, rgb(112, 245, 129), #07C);
  box-shadow: 0 4px 30px #17D6;
  /* background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%; */
    /* -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent; */
    
}

.joinChatContainer button:hover {
  /* background-color: #f3ec78; */
    /* background-image: linear-gradient(45deg, #f0e74b, #cc3c64); */
    transform: translateY(-5px);
    box-shadow: 0 4px 30px #17DB;
}
.chatContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.chat-window {
  width: 300px;
  height: 420px;
  margin: 20px;
  /* display: flex; */
 
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  border-radius: 6px;
  /* background: #263238; */
  position: relative;
  /* cursor: pointer; */
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  /* border-radius: 50px; */
  border: none;
  color: #FFF;
  /* cursor: pointer; */
  transition: all 300ms;
  background: linear-gradient(45deg, rgb(112, 245, 129), #07C);
  box-shadow: 0 4px 30px #17D6;
  /* z-index: 10; */
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  border-left: 1px solid #6fdf78;
  border-right: 1px solid #6e8beb;
  border-bottom: 1px solid hsl(160, 51%, 48%);
  background: #fff;

  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;

}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  /* min-height: 40px;
  max-width: 120px; */
  background-color: #e0e0e0;
  border-radius: 3px;
  color: rgb(19, 18, 18);
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;

}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: rgba(10, 194, 93, 0.774);
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 40px;
  /* border: 1px solid #6fccfa; */
  /* border-radius: 50%; */
  /* border: none; */
  background: rgb(182, 180, 180);
  border-top: none;
  display: flex;
  height: 45px;
  border-radius: 6px;
  /* background: #263238; */
  position: relative;
  top: -3px;
  /* cursor: pointer; */
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  /* border-radius: 50px; */
  /* border: none; */
  color: rgb(221, 218, 218);
  /* cursor: pointer; */
  transition: all 300ms;
  /* background: linear-gradient(45deg, rgb(112, 201, 124), rgb(0, 204, 51)); */
  /* box-shadow: 0 4px 30px #17D6; */
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-radius: 30%;
  border: none;
  background: rgb(133, 131, 131);
  border-right: 1px dotted #607d8b;
  height: 45px;
  border-radius: 6px;
  /* background: #263238; */
  position: relative;
  /* top: -2px; */
  /* cursor: pointer; */
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  /* border-radius: 50px; */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #FFF;
  /* cursor: pointer; */
  transition: all 300ms;
  /* background: linear-gradient(45deg, rgb(112, 245, 129), #07C); */
  /* box-shadow: 0 4px 30px #17D6; */

  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}
.hide {
  opacity: 0 !important;
}
