ul{
    list-style: none;
  }
  
  Link {
    text-decoration: none;
  }
  .dropdowmitems-link{
    color: black;
    font-size: 20px;
  }
  .dropdowmitems-link:hover{
    color:#17cf97;
  }
  .menu-trigger img{
    position: relative;
    top: 4px;
    /* right: 20px; */
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background-color: black;
  }
  
  
  .dropdown-menu1{
    position: absolute;
    top: 53px;
    right: -220px;
    background-color: rgb(255, 255, 255);
    border-radius: var(--border-radius);
    padding: 10px 20px;
    width: 200px;
    z-index: 10;
    /* visibility: hidden; */
    display: none;
  }
  
  .dropdown-menu1::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
  }
  
  .dropdown-menu1.activeDrop{
    opacity: 1;
    /* visibility: visible; */
    transform: translateY(0);
    transition: var(--speed) ease;
    z-index: 10;
    right : -18px;
    display: block;
  }
  
  .dropdown-menu1.inactiveDrop{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
    
  }
  
  
.profile-name{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: var(--primary-text-color);
    color:rgb(70, 72, 75);
    line-height: 1.2rem;
  }
  
  .profile-name span{
    font-size: 14px;
    color: var(--secondary-text-color);
    font-weight: 400;
  }
  
  .dropdown-menu1 ul li{
    padding: 10px  0;
    border-top: 2px solid rgba(37, 37, 37, 0.25);
  }
  
  .dropdown-menu1 ul li:hover a{
    /* color: rgb(212, 33, 9); */
    cursor: pointer;
  }
  
  .dropdown-menu1 ul li:hover img{
    opacity: 1;
    cursor: pointer;
  }
  
  .dropdownItems{
    display: flex;
    margin: 10px auto;
  }
  
  .dropdownItems img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
  }
  
  .dropdownItems a{
    /* max-width: 100px;*/
    margin-left: -30px; 
    font-size: 1.3rem;
    transition: var(--speed);
  }

  @media screen and (max-width: 769px) {

    .dropdown-menu1{
      top:48px;
    }

  }